@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #fafafa;
}
p {
  color: #5c5c5c;
}

span {
  color: #5c5c5c;
}

h2 {
  color: #5c5c5c;
}

button {
  background-color: #5c5c5c;
}
